# Database Config
DATABASE_URL="postgresql://user:password@localhost:5432/kopipos"

# License Keys
LICENSE_PRIVATE_KEY=""
LICENSE_PUBLIC_KEY=""

# Payment Gateway (Midtrans)
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""

# Security
JWT_SECRET=""

# API Config
API_PORT=3000
